<div id="mainContainer">
    <app-header></app-header>
    <app-date-navigation [month]="days" (changeMonth)="changeMonth($event)"></app-date-navigation>
</div>
<ng-scrollbar style="height: 100vh">
    <div id="containerForm">
        <app-days-desktop [dayInfo]="days"></app-days-desktop>
        <div class="mat-autocomplete">
            <app-in-out-office [FormInstance]="getFormGroup('mattina')" [formControlNameInstance]="['entrata','uscita']"
                [title]="'Mattina'"></app-in-out-office>
            <app-in-out-office [FormInstance]="getFormGroup('pomeriggio')"
                [formControlNameInstance]="['entrata','uscita']" [title]="'Pomeriggio'"></app-in-out-office>
            <app-in-out-office [FormInstance]="getFormGroup('extraUfficio')"
                [formControlNameInstance]="['entrata','uscita']" [title]="'Extra ufficio'"></app-in-out-office>
        </div>
    </div>
</ng-scrollbar>