<div id="containerHome"><app-header id="header"></app-header>
    <div id="containerNavigation">
        <app-date-navigation class="dateNavigation" [month]="day()" (changeMonth)="changeMonth($event)">
        </app-date-navigation>
        <app-button class="buttonTimesheet" [style]="{
            'width' : '339px',
            'color' : 'white',
            'height' : '44px',
            'marginBottom': '30px'}" [name]="'Invia timesheet'" [disabled]="'disabled'"></app-button>
    </div>
    <ng-scrollbar style="height: calc(100vh - 28vh)">
        <app-days></app-days>
    </ng-scrollbar>
</div>