#menu {
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    .chevron {
        transform: rotate(270deg);
        padding-left: 3px;
        height: 6px;
    }

    .chevronDown {
        transform: rotate(0deg);
    }

    .mat-mdc-menu-content {
        background-color: white;
    }

    ::ng-deep .mdc-button__label {
        width: 104px !important;

    }
}

::ng-deep .mat-mdc-menu-content.mdc-list {
    height: 22vh !important;
}

::ng-deep .mdc-list-item__primary-text {
    font-size: 16px !important;
}

@media screen and (min-width: 992px) {
    #menu {
        font-size: 20px;

        .chevron {
            transform: rotate(270deg);
            padding-left: auto;
            height: 12px;
        }

        .chevronDown {
            transform: rotate(0deg);
        }

        .mat-mdc-menu-content {
            background-color: white;
        }

        ::ng-deep .mdc-button__label {
            width: 151px !important;
        }
    }


    ::ng-deep .mat-mdc-menu-content.mdc-list {
        height: 22vh !important;
    }

    ::ng-deep .mdc-list-item__primary-text {
        font-size: 14px !important;
    }
}