<button mat-button [matMenuTriggerFor]="menu" id="menu" (click)="toogleMenu()"
    [ngClass]="click ? 'chevronDown' : 'chevron'">{{selectedOption}} <span>
        <img class="chevron" src="../../../assets/images/chevron.svg" alt=""
            [ngClass]="click ? 'chevronDown' : ''"></span>
    <mat-menu #menu="matMenu" (closed)="closedMenu()">
        <ng-scrollbar style="height: 30vh; width:12vw;">
            <button mat-menu-item *ngFor="let m of options" (click)="onChangeMonth(m)">{{m.toUpperCase()}}</button>
        </ng-scrollbar>
    </mat-menu>
</button>