<form [formGroup]="form" id="containerWrapping" (ngSubmit)="submit(form)">
    <div id="container">
        <div id="containerHeader">
            <div class="addWrapper">
                <div id="containerHoursDay">
                    <div>{{timestamp | date: 'longDate' }}</div>
                    <div class="containerHours">
                        <app-hours [hours]="0"></app-hours>
                    </div>
                </div>
                <button (click)="click()" class="containerAddCommessa" [routerLink]="'insertCommesse'">
                    <app-iconplus></app-iconplus>
                    <div>Aggiungi commessa</div>
                </button>
            </div>
        </div>
    </div>
    <div id="containerPresenceOffice">
        <div>
            <div class="mat-autocomplete">
                <app-in-out-office 
                    [formControlNameInstance]="['entrata','uscita']"></app-in-out-office>
                <app-in-out-office 
                    [formControlNameInstance]="['entrata','uscita']"></app-in-out-office>
                <app-in-out-office 
                    [formControlNameInstance]="['entrata','uscita']"></app-in-out-office>
            </div>
        </div>
        <div>
            <div class="mat2-autocomplete">
                <app-autocomplete [FormInstance]="form" [formControlNameInstance]="'assenza'" [title]="'Assenza'"
                    [placeholder]="'Motivazione'" [options]="motivation"></app-autocomplete>
            </div>
            <div class="inputForm">
                <app-input [FormInstance]="form" [formControlNameInstance]="'sede'" [titleInput]="'Sede di lavoro'"
                    [placeholder]="'Sede di lavoro'"></app-input>
                <app-input [FormInstance]="form" [formGroup]="form" [formControlNameInstance]="'trasferta'"
                    [titleInput]="'Trasferta'" [placeholder]="'Trasferta'"></app-input>
            </div>
            <div class="checkboxRep">
                <app-checkbox [text]="'Reperibilità'" [FormInstance]="form"
                    [formControlNameInstance]="'reperibilita'"></app-checkbox>
            </div>
        </div>
    </div>

    <div id="containerButton">
        <div class="buttonAnnulla">
            <app-button [name]="'Annulla'" [routerLink]="''"></app-button>
        </div>
        <app-button [name]="'Conferma'" [type]="submit"></app-button>
    </div>
</form>