<div id="container">
    <div class="title">
    </div>
    <div class="containerInput" [formGroup]="form" *ngIf="form">
        <div><app-autocomplete [FormInstance]="getFormGroup(form)"
                [formControlNameInstance]=" formControlNameInstance[0]" [options]="optionsIn"
                [defaultValue]="defaultValueIn">
            </app-autocomplete>
        </div>
        <div><app-autocomplete [FormInstance]="getFormGroup(form)"
                [formControlNameInstance]="formControlNameInstance[1]" [defaultValue]="defaultValueOut"
                [options]="optionsOut"></app-autocomplete></div>
    </div>
</div>