<mat-list role="list" id="containerList">

    <mat-list-item role="listitem" *ngFor="let list of days; 

    let index= index" class="list">

        <div (click)="goToDetail(dayToTimestamp(list))">{{list.position}} {{list.day}}
            <span><app-chevron class="chevron"></app-chevron></span>
        </div>
        <app-anteprima-commessa
            [hours]="(commessaService.getCommessaByDay(list.position?? 0 ,dayInfo.month, dayInfo.year) | async)?.hours?? 0"
            [commessa]="(commessaService.getCommessaByDay(list.position?? 0 ,dayInfo.month, dayInfo.year) | async)?.quantity ?? 0">
        </app-anteprima-commessa>

    </mat-list-item>

</mat-list>